FL-12.rar
EPAM/FL12_HW2/FL12_HW2/FL12_HW2/examples/animation.gif
EPAM/FL12_HW2/FL12_HW2/FL12_HW2/examples/print.png
EPAM/FL12_HW2/FL12_HW2/FL12_HW2/examples/screen.png
EPAM/FL12_HW2/FL12_HW2/FL12_HW2/homework/index.html
EPAM/FL12_HW2/FL12_HW2/FL12_HW2/homework/.vscode/settings.json
EPAM/FL12_HW2/FL12_HW2/FL12_HW2/homework/css/bootstrap.min.css
EPAM/FL12_HW2/FL12_HW2/FL12_HW2/homework/css/general.css
EPAM/FL12_HW2/FL12_HW2/FL12_HW2/homework/css/style.css
EPAM/FL12_HW1/task/content.txt
EPAM/FL12_HW1/task/content.txt
EPAM/FL12_HW1/task/FL12_HW1.docx
